.about-div {
    display: flex;
    width: 100%;
    
}

.home-about {
    display: flex;
    justify-content: center;
    max-width: 40%;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
}