.about-div {
    display: flex;
    width: 100%;
    
}

.home-about {
    justify-content: center;
    max-width: 40%;
    margin: auto;
    margin-top: 100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.web-dev {
    display: block;
    font-size: 40px;
}